<h1>All Questions</h1>

<%= link_to "New", new_question_path(@questions), class: 'btn btn-success' %>

<% @questions.each do |question| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to question.title + (question.resolved ? " -> Resolved" : ""), question %>
      </h4>
    </div>
  </div>
<% end %>
